@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
.slide-in-bottomm {
	-webkit-animation: slide-in-bottomm 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottomm 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottomm {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottomm {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  .fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border-bottom: 6px solid #050505;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: #050505;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


.swing-in-bottom-fwd {
  -webkit-animation: swing-in-bottom-fwd 1.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
          animation: swing-in-bottom-fwd 1.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@-webkit-keyframes swing-in-bottom-fwd {
0% {
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 0;
}
100% {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 1;
}
}
@keyframes swing-in-bottom-fwd {
0% {
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 0;
}
100% {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 1;
}
}
.swing-in-bottom-fwdd {
  -webkit-animation: swing-in-bottom-fwd 2.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
          animation: swing-in-bottom-fwd 2.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@-webkit-keyframes swing-in-bottom-fwdd {
0% {
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 0;
}
100% {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 1;
}
}
@keyframes swing-in-bottom-fwdd {
0% {
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 0;
}
100% {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 1;
}
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swing-out-bottom-bck {
	-webkit-animation: swing-out-bottom-bck 0.6s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-bottom-bck 0.6s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

 @-webkit-keyframes swing-out-bottom-bck {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
}
@keyframes swing-out-bottom-bck {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
}
@media(max-width: 400px) {
  .about{
    display: flex;
    flex-direction: column;
  }
  .show{
    display: none;
  }
  .videoPortada{
    padding-top: 250px;
  }
  .reloj{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .desktop{
    display: none;
  }
  .tituloDesktop{
    display: none;
  }
}
@media(min-width: 401px){
  .celu{
    display: none;
  }
  .tituloCelu{
    display: none;
  }
}
@media(min-width:1536px){
  .tituloDesktop{
    font-size: 130px;
    margin-top: 4%;
    line-height: 140px;
    padding-left: 177px!important;
  }
}

html{
  scroll-behavior:smooth;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #EA3202;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
  padding: 10px;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  padding: 10px;
}
